* {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 9rem;
    color: #397b0a;
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-size: 1.5rem;
    color: #8f200d;
    text-align: center;
    margin-top: 10px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
    background-image: url("../public/images/Pixel\ Art\ GIF\ CASCADA.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Esto asegura que nunca haya scroll */
}
